# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run
.directory

# Files from Forge MDK
forge*changelog.txt
LICENSE.txt
README.txt
CREDITS.txt
changelog.txt

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.tar.xz
*.rar

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Data Generator cache
/src/generated/resources/.cache/
